<div class="contact">
  <form name="contactDetailForm" novalidate>
    <div>
      <span class="contact__required">*</span> field is required
    </div>
    <div class="contact__box">
      <h3 class="contact__sub-title">
        Personal
      </h3>
      <div class="contact__field">
        <label>
          Name <span class="contact__required">*</span>
        </label>
        <input
          type="text"
          name="name"
          required="required"
          ng-model="$ctrl.contact.name">
      </div>
      <div class="contact__field">
        <label>
          Email <span class="contact__error" ng-if="contactDetailForm.email.$error.email">
            Must be a valid email
          </span>
        </label>
        <input
          type="email"
          name="email"
          ng-model="$ctrl.contact.email">
      </div>
    </div>
  </form>
</div>
